.wholesale-watermark {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
  pointer-events: none;
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
  align-items: center;
  padding: 30rpx 12rpx;
  box-sizing: border-box;
}

.wholesale-watermark text {
  display: block;
  width: 50%;
  height: 138rpx;
  line-height: 138rpx;
  color: #405049;
  font-size: 20rpx;
  font-weight: 800;
  text-align: center;
  white-space: nowrap;
}

.wholesale-watermark text:nth-child(3n) {
  width: 100%;
}

.wholesale-watermark-contained {
  position: absolute;
  z-index: 9999;
}
